.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: var(--white);

    width: 15vw;
    padding: 50px 15px;

    border: 3px solid var(--white);      
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    z-index: 1;
    box-shadow: -4px -4px 0 var(--aqua);
}

.img{
    border: 3px solid var(--aqua);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.containerText{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
}

.h3{
    font-size: 1.5rem;
}

.p{
    font-size: 0.8rem;
}

.containerItems{
    text-align: left;
    margin-bottom: 15px;
}

.item{
    align-items: center;
    margin: 5px 0;
}

.icon{
    color: #12F7D6;
}

.techs{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.span{
    color: #292F36;
    background-color: var(--aqua);
    border-radius: 20px;
    padding: 2px 5px;
    margin: 5px;
    font-size: 0.8rem;
}

.button{
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--white);
    font-size: 1.25rem;
    margin-top: 25px;
    padding: 5px 25px;
    border-radius: 25px;
}