.container {
    width: 70%;
    padding: 3vh 2vh;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 10vw;
    position: relative;
    height: 100vh;
    z-index: 1;    
    background-color: var(--grey);
}

.scrollCenter {
    position: absolute;
    top: calc(100vh - 100px);
    left: 50%;
    transform: translateX(-50%);
    height: 200px; 
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
}

.scrollLine {
    position: relative;
    height: 20vh;
    width: 2px;
    background: repeating-linear-gradient(
        to bottom,
        var(--white),
        var(--white),
        transparent 10px,
        transparent 20px
    );
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.mouse {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveMouse 2s infinite ease-in-out;
}

.containerAbout{
    background-image: url('/img/BackgroundImg.png');
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 7vh 10vw 20vh 10vw;
}

.containerAboutDescription{
    background: transparent;
    width: 30%;
}

.containerAboutText {
    margin-bottom: 5vh;
}

.containerProjects{
    background: url('/img/ProjectsBg.png');
    height: 100vh;
}

@keyframes moveMouse {
    0% {
        top: 0;
    }

    50% {
        top: 100%;
        transform: translate(-50%, -100%);
    }

    100% {
        top: 0;
        transform: translateX(-50%);
    }
}