.footer {
    width: 100%;
    background-color: var(--grey);
    color: var(--white);
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: clamp(1rem, 3vw, 2rem);
    text-align: center;
}